*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.logo{
    width: 165px;
    float: left;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;;
}
p{
    padding: 30px;
}